* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listaPokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin: 20px;
    list-style: none;
}

h1 {
    margin: 40px;
}

.pokemon {
    background-color: #acacac;
    border-radius: 10px;
    
    img {
        display: flex;
        justify-self: center;
        width: 80%;
    }

    p {
        text-align: center;
        font-size: 20px;
    }
}

.water {
    background-color: #6890f0;
}
.fire{
    background-color: #f05030;
}
.grass{
    background-color: #78c850;
}
.electric{
    background-color: #f8d030;
}
.psychic{
    background-color: #f85888;
}
.ice{
    background-color: #98d8d8;
}
.dragon{
    background-color: #7038f8;
}
.dark{
    background-color: #705848;
}
.normal{
    background-color: #a8a878;
}
.fighting{
    background-color: #903028;
}
.flying{
    background-color: #a890f0;
}
.poison{
    background-color: #a040a0;
}
.ground{
    background-color: #e0c068;
}
.rock{
    background-color: #b8a038;
}
.bug{
    background-color: #a8b820;
}
.ghost{
    background-color: #705898;
}
.steel{
    background-color: #b8b8d0;
}
.fairy{
    background-color: pink;
}